.App {
  text-align: center;
}

.App-header {
  background-color: #03b5fc;
  /* min-height: 100vh; */
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 50px;
}

/* .App-link {
  color: #61dafb;
} */

.navlink{
  padding-right: 20px;
}